div.aulas > p {
  text-align: center;
  font-size: 1.2em;
}

div.aulas > button {
  display: block;
  padding: 0.75rem;
  margin-inline: auto;
  margin-top: 24px;
  &:hover {
    cursor: pointer;
  }
}