/* You can add global styles to this file, and also import other style files */
// Estilos Globais

@mixin Reset-Charset {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

$arial: Arial, Helvetica, sans-serif;

* {
  @include Reset-Charset();
}

html,
body {
  font-family: $arial;
}

body {
  background-color: rgb(213, 213, 213);
}

div.aulas {
  $borders-directions: 1px solid red;
  border-block: $borders-directions;
  padding: 2em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

.angular-text {
  color: rgb(202, 40, 40);
}