/* You can add global styles to this file, and also import other style files */
// Estilos Globais

@mixin Reset-Charset {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* {
  @include Reset-Charset();
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(213, 213, 213);
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

.angular-text {
    color: rgb(202, 40, 40);
}