header,
main {
  padding: 1rem;
}

header {
  background-color: rgb(147, 147, 147);
  & > h1 {
    text-align: center;
  }
}

p#desc-angular {
  margin-inline: auto;
  margin-block: 1rem;
  text-align: justify;
  width: 75%;
  font-size: large;
}